{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% if collector.queryCount > 0 %}
        {% set status_color = collector.totalQueryTime > 1000 ? 'red' : (collector.totalQueryTime > 500 ? 'yellow' : '') %}

        {% set icon %}
            {{ include('@SineflowElasticsearch/Profiler/images/elasticsearch.svg') }}
            <span class="sf-toolbar-value">{{ collector.queryCount }}</span>
            <span class="sf-toolbar-info-piece-additional-detail">
                <span class="sf-toolbar-label">in</span>
                <span class="sf-toolbar-value">{{ collector.totalQueryTime|number_format(0) }}</span>
                <span class="sf-toolbar-label">ms</span>
            </span>
        {% endset %}

        {% set text %}
            <div class="sf-toolbar-info-piece">
                <b>ES Queries</b>
                <span class="sf-toolbar-status sf-toolbar-status-{{ status_color }}">{{ collector.queryCount }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Query time</b>
                <span>{{ collector.totalQueryTime }} ms</span>
            </div>
        {% endset %}

        {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: profiler_url, status: status_color }) }}
    {% endif %}
{% endblock %}

{% block head %}
    {{ parent() }}
    <style>
        .es-query {
            border: 1px solid #AEAEAE;
            margin: .5em 0;
            padding: 1em;
        }
    </style>
{% endblock %}

{% block menu %}
    <span class="label {{ collector.queryCount == 0 ? 'disabled' }}">
        <span class="icon">{{ include('@SineflowElasticsearch/Profiler/images/elasticsearch.svg') }}</span>
        <strong>Elasticsearch</strong>
        {% if collector.queryCount %}
            <span class="count"><span>{{ collector.queryCount }}</span></span>
        {% endif %}
    </span>
{% endblock %}

{% block panel %}
    <h2>Elasticsearch Queries</h2>

    <div class="metrics">
        <div class="metric-group">
            <div class="metric">
                <span class="value">{{ collector.queryCount }}</span>
                <span class="label">Queries</span>
            </div>

            <div class="metric">
                <span class="value">{{ '%0.2f'|format(collector.totalQueryTime) }} ms</span>
                <span class="label">Query time</span>
            </div>
        </div>
    </div>

    <div class="sf-tabs" style="margin-top: 20px;">
        <div class="tab">
            <h3 class="tab-title">Queries</h3>
            <div class="tab-content">
                {% if collector.queryCount == 0 %}
                    <div class="empty">
                        <p>No Elasticsearch queries were performed.</p>
                    </div>
                {% else %}
                    <table class="alt">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Time</th>
                            <th>Query</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i, query in collector.queries %}
                            <tr>
                                <td>{{ i + 1 }}</td>
                                <td>{{ query.queryDuration|number_format(3) }} ms</td>
                                <td>
                                    {{ query.kibanaRequest|length > 50 ? query.kibanaRequest|slice(0, 95) ~ '...' : query.kibanaRequest }}

                                    <div class="text-small font-normal">
                                        <a href="#" class="sf-toggle" data-toggle-selector="#full-query-{{ i }}" data-toggle-alt-content="Hide full query">View full query</a>
                                        &nbsp;&nbsp;
                                        <a href="#" class="sf-toggle" data-toggle-selector="#cli-request-{{ i }}" data-toggle-alt-content="Hide CLI request">View CLI request</a>
                                        &nbsp;&nbsp;
                                        <a href="#" class="sf-toggle" data-toggle-selector="#backtrace-{{ i }}" data-toggle-alt-content="Hide query backtrace">View query backtrace</a>
                                    </div>

                                    <div id="full-query-{{ i }}" class="hidden es-query">
                                        {{ query.kibanaRequest }}
                                        <br><br>
                                        <button class="btn btn-sm hidden" data-clipboard-text="{{ query.kibanaRequest|e('html_attr') }}">Copy</button>
                                    </div>

                                    <div id="cli-request-{{ i }}" class="hidden es-query">
                                        {{ query.curlRequest }}
                                        <br><br>
                                        <button class="btn btn-sm hidden" data-clipboard-text="{{ query.curlRequest|e('html_attr') }}">Copy</button>
                                    </div>

                                    {% if query.backtrace is defined %}
                                        <div id="backtrace-{{ i }}" class="hidden">
                                            <table>
                                                <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">File/Call</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for trace in query.backtrace %}
                                                    <tr>
                                                        <td>{{ loop.index }}</td>
                                                        <td>
                                                            <span class="text-small">
                                                                {% set line_number = trace.line|default(1) %}
                                                                {% if trace.file is defined %}
                                                                    <a href="{{ trace.file|file_link(line_number) }}">
                                                                {% endif %}
                                                                    {{- trace.class|default ~ (trace.class is defined ? trace.type|default('::')) -}}
                                                                    <span class="status-warning">{{ trace.function }}</span>
                                                                {% if trace.file is defined %}
                                                                    </a>
                                                                {% endif %}
                                                                (line {{ line_number }})
                                                            </span>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>

        <div class="tab">
            <h3 class="tab-title">Index managers</h3>
            <div class="tab-content">
                {% if collector.indexManagers %}
                    {{ include('@WebProfiler/Profiler/table.html.twig', { data: collector.indexManagers }, with_context = false) }}
                {% else %}
                    <p><em>No index managers configured.</em></p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
